[class="content"]{
    background-color: white;
    text-align: center;
    position: static;
    margin-top: 8vh;
    padding: 0vh;
    top: 8vh;
}


p#booty {
    background-color: transparent;
    color: white;
    margin: 30px;
    text-align: center;
    position: relative;
}

body{
    background: #101010;
    margin:0;
    padding:0;
}

.MuiPaper-root.content-paper.MuiPaper-elevation10.MuiPaper-rounded {
    min-height: 20vh;
}